@import url("/static/_variables.css");
@import url("/static/_typography.css");
@import url("/static/_icons.css");
@import url("/static/_defaults.css");
@import url("/static/_breakpoints.css");

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: var(--font-default);
}