<nav class="main-navigation-menu" id="mainNavMenu">
    <div class="main-navigation-menu__wrapper">
        <ul class="main-navigation-menu__groups">
            <li>
                <h4 class="main-navigation-menu__groups__name">Gerencial</h4>
                <ul class="main-navigation-menu__modules">
                    <li class="main-navigation-menu__item">
                        <a class="main-navigation-menu__link" href="/report-daily/">
                            <div class="main-navigation-menu__link__icon">
                                <span class="icon">today</span>
                            </div>
                            <div class="main-navigation-menu__link__label">
                                <span>Acompanhamento Diário</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <button type="menu" class="main-navigation-menu__trigger" id="toggleMainNavMenuButton">
        <span class="icon">keyboard_double_arrow_right</span>
    </button>
</nav>