@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.header {
    position: relative;
    z-index: 900;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #FFFDFA;
    border-bottom: 1px solid #91919440;
}

.title {
    display: flex;
    font-size: 36px;
    font-weight: 600;
    gap: 10px;
}

.title-a {
    color: #F59D2A;
}

.title-b {
    color: #4A2F0D;
}

.yellow-bar {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 4px;
    background-color: #FFCC81;
    border-radius: 2px;
}

.grid-layout {
    display: grid;
    grid-template-columns: 20fr 26fr 48fr;
    grid-template-rows: 64fr 36fr;
    gap: 25px;
    width: 100%;
    height: calc(100vh - 100px);
    padding: 25px;
    margin-top: 80px;
}

.card {
    background: #FFF;
    border: 0.5px solid #4A2F0D;
    border-radius: 3.75px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    padding: 10px;
    position: relative;
}

.card1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.card2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.card3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.card4 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.card5 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

@media (max-width: 1024px) {
    .grid-layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
    }

    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6 {
        grid-column: 1 / -1;
    }
}

.dashboard-summary {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
    box-sizing: border-box;
}

.summary-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-left: 5px solid transparent;
}

.summary-card h3 {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4A2F0D;
    margin-bottom: 2px;
    font-family: 'Roboto', sans-serif;

}

.summary-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.summary-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.summary-number,
.summary-value {
    font-size: 20px;
    color: #4A2F0D;
}

.summary-label {
    font-size: 15px;
    color: #626266;
    margin-top: 2px;
}

.total-card,
.delivered-card {
    border-left-color: #28a745;
}

.on-route-card,
.in-separation-card,
.open-card {
    border-left-color: #ffc107;
}

.cancel-card {
    border-left-color: #ff4d4d;
}

.highcharts-figure {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

.highcharts-figure #container {
    width: 100%;
    height: 100%;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 100%;
    max-width: 100%;
}

.highcharts-data-table table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-y: auto;

    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    border: 1px solid #4A2F0D;

    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    text-align: center;

    margin: 0;
}

.highcharts-data-table caption {
    background-color: #FFFFFF;
    padding: 1em 0;
    font-size: 18px;
    color: #4A2F0D;
    font-weight: bold;
    border-bottom: 1px solid #ebebeb;
    position: sticky;
    top: 0;
    z-index: 1010;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #ffffff;
}

.highcharts-data-table tr:hover {
    background: #4A2F0D;
    color: #ffffff;
}

.highcharts-description {
    margin: 0.3rem 10px;
}