<div class="main-navigation">
    <header class="main-navigation__header">
        <div class="main-navigation__header__col --logotype">
            <button class="main-navigation__trigger" id="toggleMenuButton">
                <span class="icon">menu</span>
            </button>
            <a href="/">
                <h1>Dashboard</h1>
            </a>
        </div>
        <div class="main-navigation__header__col --toolbar"></div>
        <div class="main-navigation__header__col --user-chip">
            <span class="icon">account_circle</span>
            <span>Olá, Usuário</span>
        </div>
    </header>
    <div class="main-navigation__content">
        <div id="navMenuContainer">
            {% include 'apps/reports/components/main-navigation/main-navigation-menu/main-navigation-menu.html' %}
        </div>
        <main class="main-navigation__content__outlet">
            {% block content %}{% endblock %}
        </main>
        <div id="navInsightsContainer">
            {% include 'apps/reports/components/main-navigation/main-navigation-insights/main-navigation-insights.html'
            %}
        </div>
    </div>
</div>