{% extends "base.html" %}
{% block page_content %}
    <div class="main-navigation">
        <header class="main-navigation-header">
            <div>
                <a routerLink="/" title="Peça Aí - Backoffice">
                    {% include "logotype/logotype.html" %}
                </a>
            </div>
        </header>

        <div class="main-navigation__content">
            {% include "main-navigation/main-navigation-menu/main-navigation-menu.html" %}
            <main class="main-navigation__content__outlet">
                {% block main_navigation_content %}{% endblock %}
            </main>
        </div>
    </div>

{% endblock %}
